{% if block.settings.enable_slider %}
  <div
    class="swiper variant-images-block"
    id="variant-swiper-{{ variant.id }}"
    data-variant-id="{{ variant.id }}"
  >
    <div class="swiper-wrapper">
      {% for file in photos %}
        <div class="swiper-slide">
          {{ file | image_url: width: 400 | image_tag: alt: variant.title }}
        </div>
      {% endfor %}
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M15 6L9 12L15 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
{% else %}
  <div class="product-images">
    {% for file in photos %}
      <div class="swiper-slide">
        <img src="{{ file | image_url }}" alt="{{ variant.title }}" loading="lazy">
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  {%  assign slider = block.settings %}
  document.addEventListener('DOMContentLoaded',function() {
  const swiper = new Swiper('.swiper', {
    slidesPerView: {{ slider.slides_per_view_mobile }},
    spaceBetween: {{ slider.space_between_mobile }},
    autoHeight:true,
    observer: true,
    observeParents: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      enabled: {{ slider.show_pagination_mobile }},
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
      enabled: {{ slider.show_navigation_mobile }},
    },
    breakpoints: {
      768: {
        slidesPerView: {{ slider.slides_per_view_tablet }} ,
        spaceBetween: {{ slider.space_between_tablet }},
        pagination:{ enabled:{{ slider.show_pagination_tablet }} },
        navigation: {
          enabled: {{ slider.show_navigation_tablet }},
        },
      },
      1024: {
        slidesPerView: {{ slider.slides_per_view_desktop }},
        spaceBetween: {{ slider.space_between_desktop }},
        pagination:{ enabled: {{ slider.show_pagination_desktop }} },
        navigation: {
          enabled: {{ slider.show_navigation_desktop }},
        },
      },
    },
  });
  swiper.update();
  })
</script>
