{{ 'ivent-product.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="product-ivent-section">
    <div class="product-ivent-block">
      <div class="product-ivent-block-img">
        {{ product.featured_image | image_url: width: 450 | image_tag: alt: variant.title }}
      </div>
      {%- assign product_form_id = 'product_form-' | append: section.id -%}
      <div class="product-ivent-info" style="--block-spacing: {{ section.settings.block_spacing }}px;">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <h1 class="spacing">{{ product.title }}</h1>
            {%- when 'description' -%}
              <p>{{ product.description }}</p>
            {%- when 'price' -%}
              <p class="spacing" id="product-ivent-price">{{ product.price | money_with_currency }}</p>
            {%- when 'variants' -%}
              <div class="spacing product-ivent-variants">
                <select id="product-ivent-select" class="product-ivent-select" name="id" form="{{ product_form_id }}">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>
                <select id="product-ivent-date"></select>
                <select id="product-ivent-time"></select>
              </div>
            {%- when 'addtional_data' -%}
              <div class="spacing addtional_data_block">
                <div class="product-ivent-customer-data">
                  {%- if block.settings.show_name -%}
                    <label>
                      <p class="form_up_text">Name</p>
                      <input type="text" name="properties[Name]" required form="{{ product_form_id }}">
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_surname -%}
                    <label>
                      <p class="form_up_text">Surname</p>
                      <input
                        type="text"
                        name="properties[Surname]"
                        required
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_email -%}
                    <label>
                      <p class="form_up_text">Email</p>
                      <input
                        type="email"
                        name="properties[Email]"
                        required
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_phone -%}
                    <label>
                      <p class="form_up_text">Phone</p>
                      <input
                        type="tel"
                        name="properties[Phone]"
                        required
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_postal -%}
                    <label>
                      <p>Postal code</p>
                      <input
                        type="text"
                        name="properties[Postal code]"
                        required
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_birth -%}
                    <label>
                      <p class="form_up_text">Date of birth</p>
                      <input
                        type="date"
                        name="properties[Date of birth]"
                        required
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_gender -%}
                    <label>
                      <p>Gender</p>
                      <select name="properties[Gender]" required form="{{ product_form_id }}">
                        <option value="">Choose...</option>
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                      </select>
                    </label>
                  {%- endif -%}
                  {%- if block.settings.show_usercode -%}
                    <label>
                      <p class="form_up_text">User code</p>
                      <input
                        type="text"
                        name="properties[User code]"
                        form="{{ product_form_id }}"
                      >
                    </label>
                  {%- endif -%}
                </div>
              </div>

            {%- when 'buttons' -%}
              {%- form 'product', product, id: product_form_id, class: 'product-ivent-form' -%}
                <div class="spacing buttons_buy_product">
                  <button type="submit" name="add" class="button product-ivent-buy-cart">Add to cart</button>
                  {%- if block.settings.enable_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {%- endform -%}
          {% endcase %}
        {% endfor %}
        <script id="variant-metafields" type="application/json">
          {
            {% for variant in product.variants %}
              "{{ variant.id }}": {{ variant.metafields.custom | json }}{% unless forloop.last %},{% endunless %}
            {% endfor %}
          }
        </script>
        <script id="variant-prices" type="application/json">
          {
            {% for variant in product.variants %}
              "{{ variant.id }}": "{{ variant.price | money_with_currency }}" {% unless forloop.last %},{% endunless %}
            {% endfor %}
          }
        </script>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'ivent-product.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Ivent Product",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "block_spacing",
      "label": "Spacing block",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Product title"
    },
    {
      "type": "description",
      "name": "Product description"
    },
    {
      "type": "price",
      "name": "Product price"
    },
    {
      "type": "variants",
      "name": "Variant selector"
    },
    {
      "type": "addtional_data",
      "name": "Additional data",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_name",
          "label": "Show Name",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_surname",
          "label": "Show Surname",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_email",
          "label": "Show Email",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_postal",
          "label": "Show Postal Code",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_birth",
          "label": "Show Date of Birth",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gender",
          "label": "Show Gender",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_usercode",
          "label": "Show User Code",
          "default": true
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Product buy buttons",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_dynamic_checkout",
          "label": "Enable Buy it now",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ivent Product",
      "blocks": [
        { "type": "title" },
        { "type": "description" },
        { "type": "price" },
        { "type": "variants" },
        { "type": "buttons" },
        { "type": "addtional_data" }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}
